{% extends 'base.html'%}


{% block content %}
     <article class="schema_sorting_block">
        <section class="schema_sorting_block_internal">

            <section class="schema_sorting_block_internal_filter">
                <form action="#" method="GET">
                    <section class="schema_sorting_block_internal_title">Цена:</section>
                        {{ price_form|raw }}

                    <section class="schema_sorting_block_internal_title">Дата выхода на рынок:</section>
                        {{ years_form|raw }}

                    <section class="schema_sorting_block_internal_title">Тип товаров:</section>
                        {{ manufacturer_form|raw }}

                    <section class="schema_sorting_block_internal_title">Производитель:</section>
                        {{ equipment_type_form|raw }}

                    <button class="submit" type="submit">Submit</button>
                </form>
            </section>
            <script type='text/javascript' src="{{ static('javascript/checkbox.js') }}"></script>
        </section>
    </article>
    <article class="schema_all_products"> 
        <section class='schema_all_products_box'>

            {% for product in products %}
    
                    <section class="schema_product_main">
                        <section class="schema_product_img">
                            <a href="{{ url('product', product.id) }}">
                                <img src="{{ product.main_image }}" alt="{{ product.title }}"/>
                            </a>
                        </section>
                        <section class="schema_product_description_block">
                            {#<a href="{{ url('product', product.equipment_type.identifier, product.manufacturer.identifier, product.identifier) }}">#}
                            <a href="{{ url('product', product.id) }}">
                                <h2 class="schema_product_title">
                                    {{ product.title }}
                                </h2>
                            </a>
                            <section class="schema_price">{{ product.price }}руб</section>
                            <section class="schema_product_description">
                                {{ product.description }}
                            </section>
                        </section>
                    </section>

            {% endfor %}
        </section>
        <section class="shema_line"></section>
        <section id="schema_all_products_pagination">
            
            {% for i in pagination %}
                {{ i|raw }}
            {% endfor %}

            <section id="pagination_nextNpre_section"></section> <!-- for js -->
            <script type='text/javascript' src="{{ static('javascript/products_pagination.js') }}"></script>

        </section>
    </article>
{% endblock %}
