{% extends 'admin/admin_panel_base.html' %}

{% block panel_content %}

    <div class="row">
        <div class="col-lg-10">
            <div class="admin__main mb-3">
                <div><b><strong></strong>{{ this_verbose_model_name }}</b></div>
                <hr>
                <form enctype="multipart/form-data" method="POST">
                    {{ form|raw }}
                    <div>
                        <button type="submit" class="btn btn-primary mt-4 admin__main_button" name="_addanother">Сохранить и добавить другой объект</button>
                        <button type="submit" class="btn btn-primary mt-4 admin__main_button " name="_save">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}