{% extends 'admin/admin_panel_base.html' %}

{% block panel_content %}

    <form method="POST">
        <div class="col-4">
            {{ csrf_token|raw }}
            {{ opertaion_log }}
            <a href="{{ url('add_entry', this_model_name) }}" class="addlink mt-1">Добавить</a>
            <button type="submit"  class="addlink btn btn-lg btn-block btn-dark my-1" name="_delete">Удалить выбранные</button>
        </div>
        <table>
            {% for obj in objs %}
                <tr>
                    <td class="border border-dark"><input type="checkbox" name="entries[]" value="{{ obj.id }}"></td>
                    {% for i in obj %}
                        <td class="border border-dark"><a href="{{ url('edit_entry', this_model_name, obj.id) }}">{{ i }}</a></td>
                    {% endfor %}                     
                </tr>
            {% endfor %}
        </table>

        <section id="schema_all_products_pagination">
            
            {% if pagination.has_previous %}
                <a id='pagination_preview' href="?page={{ pagination.previous_page_number }}"><section class="pagination_nextNpre" onclick="id='pagination_activate'">Предыдущая</section></a>
            {% endif %}

            {% if pagination.pages > 1 %}
                {% for num in pagination.pagination_list %}
                    <a href="?page={{ num }}"><section class="pagination_number{% if num == pagination.page %} pagination_activate {% endif %}" onclick="this.id='pagination_activate'" >{{ num }}</section></a>
                {% endfor %}
            {% endif %}

            {% if pagination.has_next %}
                <a id='pagination_next' href="?page={{ pagination.next_page_number }}"><section class="pagination_nextNpre" onclick="id='pagination_activate'">Следующая</section></a>
            {% endif %}
            
            <section id="pagination_nextNpre_section"></section> <!-- for js -->
            <script type='text/javascript' src="{{ static('javascript/products_pagination.js') }}"></script>

        </section>
    </form>

{% endblock %}