#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d


RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !/static/.*
RewriteCond %{REQUEST_FILENAME} !/media/.*
RewriteCond %{REQUEST_FILENAME} !/templates/app/admin/gulp/.*

RewriteRule .* bootstrap.php [L]