@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Calligrapf";
    src: url("../fonts/calligraph_medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}