{% extends 'admin/base.html' %}

{% block content %}

    <div class="admin-sigin">
        <div class="container">
            <div class="admin-sigin__row">
                <div class="admin-sigin__title">Вход</div>
                <form enctype="multipart/form-data" method="POST">
                    {{ admin_form|raw }}
                    <button type="submit" class="btn btn-lg btn-block btn-primary mt-4" name="_save">Войти</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}